


.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
    margin-left: 100px;
}
.nav-tittle{
    font-weight: 800;
    font-size: 40px;
}
.text-primary{
    color: orangered;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin: 20px;
    font-size: 15px;
}
nav ul a{
     text-decoration: none;   
}
.btn{
    background-color: orangered;
    padding: 10px;
    font-weight: 700;
    border-radius: 5px;
    color: aliceblue;

}
.dark2{
    color: rgba(71, 71, 71, 1);
}
/*body  style */
.banner-contant{
    width: 400px;
    margin-left: 100px;
}
.banner{
    display: flex;
    justify-content: space-between;
}
.marypic{
    width: 360px;
    height: 400px;
    margin-right: 10px;
}


/* hader */
.hader{
    background-image: url('/images/developer.png'),url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    
}
/* about */
.about{
    width: 1000px;
    margin-top: 100px;
    padding: 0 130px;
    text-align: center;
}
.about-tittle{
    color: rgba(24, 24, 24, 1);
font-family: Open Sans;
font-size: 35px;
font-weight: 700;
}
.about-description{
   color: rgba(117, 117, 117, 1);
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
}
.about-items{
    display: flex;
    justify-content: space-around;
    font-family: Open Sans;
}
/* skill */
.skills{
    width: 1000px;
    margin-top: 100px;
    padding: 0 130px;
    text-align: center;

}

.skills-tittle{
     color: rgba(24, 24, 24, 1);
font-family: Open Sans;
font-size: 35px;
font-weight: 700;

}
.skills-description{
       color: rgba(117, 117, 117, 1);
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
}
.skills-container{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.skill-description{
    padding: 30px;
}
.skill{
    padding: 10px;
    box-shadow: 0px 6px 40px 0px  chocolate;
}